/*CSS Reset*/
* {
	padding:0;
	border:0;
	box-sizing: border-box;
}

ul {
    list-style-type: square;
}

body {
	/* just need to black-out the background just because, well, if you're really curious, it's for the paradiseintech pic	*/
	background-color: black;
}

.sections-subtitle {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size:3rem;
}

/*Navbar*/
nav a {
	font-family: 'VT323', monospace;
	font-size: 2rem;
}


.navbar-icon {
	width:40px;
	border-radius: 50%;
	padding-bottom:15%;
}

.navbar-name {
	font-size: 3rem;
	margin-top: 50%;
}

.nav-link:hover {
	color:red;
    background-color: #6D5D6E;
}


/*Landing Page*/

.landingbackground {
	background-color: #2C3333; 
}

.techpic {
	margin-top: 20%;
}

.introduction {
	margin-top:15%;
}

.intro1 {
	font-family: 'Great Vibes', cursive;
	font-size: 4rem;
}

.intro2 {
	font-family: 'Montserrat', sans-serif;
	width:80%;
	margin-left:10%;
	font-weight: 900;
}

/*About Me Section*/

.zedpic {
	height:auto;
	max-width: 25%;
	border-radius:50%;
}

.laptop-pic {
	height:auto;
	max-width: 50%;
	border-radius:50%;
	padding-bottom:0;
}

.analog-pic {
	height:auto;
	max-width: 100%;
	border-radius:50%;
	padding-bottom:0;
}


.zedpic-container {
	padding-left: 50%;
}

.aboutme-text1 {
	font-family: 'Merriweather', serif;
	font-weight:200;
	line-height: 2;
	width:70%;
}

.aboutme-text2 {
	font-family: 'Merriweather', serif;
	font-weight:200;
	line-height: 2;
	width:70%;
	padding-top:10%;
}

.aboutme-text3 {
	font-family: 'Merriweather', serif;
	font-weight:200;
	line-height: 2;
	width:70%;
	padding-top:0%;
}

/*Motivational Quote Page*/
#motivationalbg-image {
		background-image:url("./images/paradiseintech.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;		

}

.front-motivationalbg {
		background-color: rgba(0, 0, 0, 0.5);
		min-height: 40vh;
		min-width: 90vw;
}

.motivational-container {
	padding-top:5%;
	overflow: hidden;
}

.motivational-1 {
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size:3rem;
}

.motivational-2 {
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size:1.5rem;
	margin-bottom:0;
	padding-bottom:1%;


}

/*Projects*/

.projectsbackground {
	background-color: #393646;
	padding-top:10%;
}

.card-text {
	padding-left:5%;
	font-family: 'Merriweather', serif;
	font-weight:200;
	line-height: 2;
}

.list-container {
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5%;
	padding-left:10%;
}


/*Tools*/
.toolsbackground {
	background-color: #2C3333;
	padding-top:10%;
}

/*Footer*/
.footerbackground {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	background-color:#6D5D6E;
	text-align: center;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}


/*Contacts*/
.contactsbackground {
	background-color: #393646;
	padding-top:10%;
}

.contact-invitation1 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size:1.5rem;
}

.contact-invitation2 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size:1rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}



/*Media Query*/

/*Motivational Quote Page*/
@media only screen and (max-width: 1023px) {
  #motivationalbg-image {
    background-attachment: scroll;
  }

  .front-motivationalbg {
  		background-color: rgba(0, 0, 0, 0.5);
  		min-height: 21vh;
  		min-width: 70vw;
  }

  .zedpic {
	height:auto;
	max-width: 50%;
	border-radius:50%;
}

.aboutme-text2 {
	font-family: 'Merriweather', serif;
	font-weight:200;
	line-height: 2;
	width:70%;
	padding-top:0;
}

}



